#
# SPDX-FileCopyrightText: 2011-2022 EasyCoding Team
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
image: Visual Studio 2022
clone_depth: 1
init:
- cmd: git config --global core.autocrlf true
install:
- cmd: >-
    set PATH=C:\Python311-x64;C:\Python311-x64\Scripts;%PATH%

    pip3 install sphinx
build_script:
- cmd: >-
    set PATH=C:\Python311-x64;C:\Python311-x64\Scripts;%PATH%

    set CI_HASH=%APPVEYOR_REPO_COMMIT:~0,7%

    cd packaging

    call build_win.cmd
test: off
artifacts:
- path: packaging\results\snapshot_*.zip
  name: archive
- path: packaging\results\snapshot_*.exe
  name: installer
