<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mhed.gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mhed.gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <mhed.gui.Properties.Settings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorBin" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreserveFormState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateTime" serializeAs="String">
                <value>2022-01-01</value>
            </setting>
            <setting name="AutoUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCleanupTime" serializeAs="String">
                <value>2022-01-01</value>
            </setting>
            <setting name="FormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiByteEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateCheckInterval" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="CleanupInterval" serializeAs="String">
                <value>7</value>
            </setting>
        </mhed.gui.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <mhed.gui.Properties.Settings>
            <setting name="IsPortable" serializeAs="String">
                <value>False</value>
            </setting>
        </mhed.gui.Properties.Settings>
    </applicationSettings>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
