<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appname" value="mhed" />
  <variable name="logdir" value="${tempdir:dir=${appname}}" />

  <targets>
    <target name="logfile" xsi:type="File"
            layout="${longdate} :: ${level:uppercase=true} :: ${callsite} :: ${message} ${exception:format=tostring}"
            fileName="${logdir}/debug.log"
            archiveFileName="${logdir}/debug_{#}.log"
            archiveEvery="Month"
            archiveNumbering="Rolling"
            maxArchiveFiles="3"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8"
            writeBom="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
