<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
    <vendor>Micro Hosts Editor</vendor>
    <vendor_url>https://www.easycoding.org/projects/mhed</vendor_url>
    <action id="org.easycoding.mhed.run"> 
        <message>Authentication is required to run the Micro Hosts Editor</message>
        <icon_name>mhed</icon_name>
        <defaults> 
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mhed</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>
</policyconfig>
