#
# SPDX-FileCopyrightText: 2011-2021 EasyCoding Team
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

name: Linux CI

on:
  push:
    branches:
    - 'master'
    - 'dev'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    name: Build project using Mono
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install nuget
      run: |
        sudo apt-get update
        sudo apt-get -y install nuget
    - name: Restore nuget dependencies
      run: nuget restore mhed.sln
    - name: Build project
      run: msbuild /p:Configuration=Release mhed.sln
